.nav-icon {
  height: 14px;
}

.logo {
  height: 120px;
  width: 140px;
}

.dogs {
  height: 170px;
}

.nav-heart-path,
.nav-location-path,
.nav-contact-path {
  fill: #39ADD1;
}

.nav-heart-path:hover,
.nav-location-path:hover,
.nav-contact-path:hover {
  fill: #111;
}


.logo-st0{fill:#BA8058;}
.logo-st1{fill:#EAAA7F;}
.logo-st2{fill:#F4C6A6;}

.red-st0{fill:#BA8058;}
.red-st1{fill:#FBFEFF;}
.red-st2{fill:#2D3339;}
.red-st3{fill:#EAAA7F;}

.fawn-st0{fill:#EAAA7F;}
.fawn-st1{fill:#FBFEFF;}
.fawn-st2{fill:#2D3339;}
.fawn-st3{fill:#F4C6A6;}

.sable-st0{fill:#844B24;}
.sable-st1{fill:#FBFEFF;}
.sable-st2{fill:#2D3339;}
.sable-st3{fill:#BA8058;}

.black-and-tan-st0{fill:#BA8058;}
.black-and-tan-st1{fill:#52595F;}
.black-and-tan-st2{fill:#FBFEFF;}
.black-and-tan-st3{fill:#2D3339;}
